//Fonts

@mixin font-mont
  font-family: 'Montserrat', "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif
@mixin font-alice
  font-family: 'Alice', Georgia, Times, Garamond, Baskerville, "Times New Roman", serif
  
@mixin text-center
  text-align: center