@charset "UTF-8";
/* CSS Document */

/* TEST */
/*body{background: purple !important;}*/

.lightwidget__image{
  border: 1px solid red !important;
}

.lightwidget--captions .lightwidget__caption{
  color: white !important;
}

figcaption.lightwidget__caption {
    color: white;
    padding-bottom: 20px;
}